@page "/produtolista"
@rendermode InteractiveServer

<PageTitle>Produto</PageTitle>

<h1>Produto</h1>
<p>Listagem de produtos cadastrados.</p>

@if (produtos == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in produtos)
            {
                <tr>
                    <td>@produto.id</td>
                    <td>@produto.nome</td>
                    <td>@produto.preco</td>
                    <td>@produto.quantidade</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Produto> produtos;

    protected override void OnInitialized()
    {
        var sessionFactory = Conexao.ConectarSessionFactory();

        using (var session = sessionFactory.OpenSession())
        {
            produtos = session.Query<Produto>().ToList();
        }
    }
}
